/*
    Document   : nwstyles.css
    Created on : 8/07/2012
    Last edited: 14/8/2014
    Author     : JKS68
    Description:
        Stylesheet for use with the nwproductbrowser family.
*/

div.combobox span, div.combobox input {
    vertical-align: top;
}

div.combobox {
    display: inline-block;
    padding-right: 3em;
}


div.product-details {
    margin-left:7em;
}

.main-content{
    min-height: 500px;
}

.clearfix{
    overflow: auto;
}
table#ProductDetails, table#ProductDetails td,
table#product-details-table, table#product-details-table td {
    border-width: 1px;
    border-spacing: 0px;
    border-style: inset;
    border-color: gray;
    border-collapse: collapse;
    padding: 4px;
}

.banner { 
    background-color: #dbd2ca; 
    height: 200px;

}

.banner-content { 
    height: 170px;
    width: 300px;
    background:url('../images/Northwindlogo.png') no-repeat top center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

div#main-content { 
    padding-top: 70px;
}

.table-order{width: 960px;
             border-collapse:collapse;     
             /* border-style: solid; */ 
             text-align: center;
}

.table-wrap{
    max-height: 400px;
    overflow-y:auto;
    overflow-x:hidden; 

}

.table-dalam{
    height:300px;
    width:960px;
    border-collapse:collapse; 
    border-style: solid;
    border-width: 1px; }

.table-dalam td{
    border-style: solid;
    border-width: 1px; 
    text-align: center;
}

.td-element1,th.head1{
    max-width: 70px; 
    min-width:70px; 
}
.td-element2,th.head2{
    max-width: 80px; 
    min-width:80px; 
}
.td-element3,th.head3{
    max-width: 100px; 
    min-width: 100px; 
}
.td-element4,th.head4{
    max-width: 90px; 
    min-width:90px; 
}
.td-element5,th.head5{
    max-width: 90px; 
    min-width:90px; 
}
.td-element6,th.head6{
    max-width: 90px;
    min-width:90px; 
}
.td-element7,th.head7{
    max-width: 100px;
    min-width:100px; 
}
.td-element8,th.head8{
    max-width: 110px; 
    min-width:110px; }
.td-element9,th.head9{
    max-width: 100px;
    min-width:100px; 
}

.table-single-order{
    width: 960px;
    border-collapse:collapse;     
    /* border-style: solid; */ 
    text-align: center;
}

.single-table-wrap{
    max-height: 400px;
    overflow-y:auto;
    overflow-x:hidden; 

}

.single-table-dalam{
    width:960px;
    border-collapse:collapse; 
    border-width: 1px; }

.single-table-dalam td{
    border-style: solid;
    border-width: 1px; 
}

.ODtable-order{
    border-collapse:collapse;     
    text-align: center;
    margin-top: 20px;
}

.ODtable-wrap{
    overflow-y:auto;
}

.ODtable-dalam{
    width: auto;
    border-collapse:collapse; 
    border-style: solid;
    border-width: 1px; }


.ODtable-dalam td{
    border-style: solid;
    border-width: 1px; 
    text-align: center;
}

.td-OD1,th.ODH1{
    max-width: 100px; 
    min-width:100px; 
}
.td-OD2,th.ODH2{
    max-width: 130px; 
    min-width:130px; }
.td-OD3,th.ODH3{
    max-width: 100px; 
    min-width:100px; 
}
.td-OD4,th.ODH4{
    max-width: 100px; 
    min-width:100px; 
}
.td-OD5,th.ODH5{
    max-width: 120px;
    min-width:120px; 
}
.td-OD6,th.ODH6{
    max-width: 100px;
    min-width:100px; 
}
.td-OD7,th.ODH7{
    max-width: 160px;
    min-width:160px; 
}

.table-order-detail{
    width: 960px;
    height: 200px;
    border-collapse:collapse;     
    text-align: center;
}

.menu{
    margin:0 auto; 
    padding:0; 
    height:30px; 
    width:100%; display:
        block; 
    background:url('../images/topMenuImages.png') 
        repeat-x;
}

.menu li{
    padding:0; 
    margin:0; 
    list-style:none; 
    display:inline;
}

.menu li a{
    float:left;
    padding-left:15px; 
    display:block;
    color:rgb(255,255,255);
    text-decoration:none; 
    font:12px Verdana, Arial, Helvetica, sans-serif; 
    cursor:pointer; 
    background:url('../images/topMenuImages.png') 0px -30px no-repeat;
}
.menu li a span{
    line-height:30px;
    float:left; display:block;
    padding-right:15px;
    background:url('../images/topMenuImages.png') 100% -30px no-repeat;}

.menu li a:hover{
    background-position:0px -60px; color:rgb(255,255,255);}

.menu li a:hover span{
    background-position:100% -60px;}

.menu li a.active, .menu li a.active:hover{
    line-height:30px; 
    font:12px Verdana, Arial, Helvetica, sans-serif;
    background:url('../images/topMenuImages.png') 100%  no-repeat;
    color:rgb(255,255,255);
}

.menu li a.active span, .menu li a.active:hover span{
    background:url('../images/topMenuImages.png') 100%  no-repeat;
}

.footer{
    height: 50px;
    background: #dbd2ca;
}

.clearfix:before,.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
